beautifulsoup4=4.9.3
discord
requests
pymongo
cachetools
google-api-python-client
oauth2client
ttldict
slack_bolt
aiofiles
dateparser
iso-639
googletrans==4.0.0rc1
emoji
timezonefinder
sanic
git+https://github.com/TheMasteredPanda/UK-Parliament-Library.git@master#egg=ukparliament
captcha
python-dotenv
emoji==1.2.0
